<p>form-demo works!</p>

<form class="example-form" [formGroup]="demoForm" (ngSubmit)="onSubmit()" >

  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="firstName" formControlName="firstName" >
  </mat-form-field>
  <mat-form-field class="example-full-width" >
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="lastName" formControlName="lastName" >
  </mat-form-field>
  <mat-form-field class="example-full-width" >
    <mat-label>Age </mat-label>
    <input matInput placeholder="age"   formControlName="age">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field>


<button type="submit" mat-raised-button>submit</button>
</form>
