<div class="container">

  <div class="form-section">
    <form class="example-form" [formGroup]="customerForm" (ngSubmit)="onSubmit()">

      <!-- First Name -->
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
         <span class="text-danger" *ngIf="(customerForm.get('firstName').touched || submitted) && customerForm.get('firstName').errors?.['required']">
          First name is required*
        </span>
      </mat-form-field>


      <!-- Last Name -->
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <span class="text-danger" *ngIf="(customerForm.get('lastName').touched || submitted) && customerForm.get('lastName').errors?.['required']">
          Last name is required*
        </span>
        <span class="text-danger" *ngIf="(customerForm.get('lastName').touched || submitted) && customerForm.get('lastName').errors?.['minlength']">
          Min length for Last Name is three characters*
        </span>
        <span class="text-danger" *ngIf="(customerForm.get('lastName').touched || submitted) && customerForm.get('lastName').errors?.['maxlength']">
          Max length for Last Name is 8 characters*
        </span>
      </mat-form-field>


      <!-- Age -->
      <mat-form-field class="full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" formControlName="age" type="number">
        <span class="text-danger" *ngIf="(customerForm.get('age').touched || submitted) && customerForm.get('age').errors?.['required']">
          age is required*
        </span>
       <span class="text-danger" *ngIf="(customerForm.get('age').touched || submitted) && customerForm.get('age').errors?.['min']">
          Age must be greater than 14*
        </span>
        <span class="text-danger" *ngIf="(customerForm.get('age').touched || submitted) && customerForm.get('age').errors?.['max']">
          Age must be less than 120*
        </span>
   </mat-form-field>


     <!-- Gender Dropdown -->
     <mat-form-field class="full-width">
        <mat-label>Gender</mat-label>
     <mat-select formControlName="gender">
     <mat-option value="male">Male</mat-option>
     <mat-option value="female">Female</mat-option>
    </mat-select>
  <!-- Validation Message -->
  <span class="text-danger" *ngIf="(customerForm.get('gender').touched || submitted) && customerForm.get('gender').errors?.['required']">
    Gender is required*
  </span>

    </mat-form-field>




      <!-- Email -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
         <span class="text-danger" *ngIf="(customerForm.get('email').touched || submitted) && customerForm.get('email').errors?.['pattern']">
          Please insert a valid email*
        </span>
      </mat-form-field>

    <!-- Phone Number (Required & Validated) -->
<mat-form-field class="full-width">
  <mat-label>Phone Number</mat-label>
  <input matInput placeholder="Phone Number" formControlName="phoneNumber">
  <span class="text-danger" *ngIf="(customerForm.get('phoneNumber').touched || submitted) && customerForm.get('phoneNumber').errors?.['required']">
    Enter a valid phone number*
  </span>

</mat-form-field>

<!-- Address (Required Text Input) -->
<mat-form-field class="full-width">
  <mat-label>Address</mat-label>
  <input matInput placeholder="Address" formControlName="address">
  <span class="text-danger" *ngIf="(customerForm.get('address').touched || submitted) && customerForm.get('address').errors?.['required']">
    Address is required*
  </span>
</mat-form-field>

      <!-- Register Button -->
      <button type="submit" mat-raised-button color="primary" class="form-button" >
        Register
      </button>
      <!-- Reset Button -->
      <button type="button" mat-raised-button color="secondary" class="form-button" >
        Reset
      </button>


    </form>
  </div>
   <!--    Table section    -->
  <div class="table-section">
    <div class="refresh-filter-section">
      <div class="refresh-button">
        <button mat-icon-button color="primary" (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <br>

      <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
      </mat-form-field>
    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteData(element)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

   <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
