<div class="container">
  <div class="form-section">

       <!-- image Upload -->
       <mat-form-field class="full-width">
        <mat-label>Image Upload</mat-label>
        <input matInput placeholder="Image upload" >
      </mat-form-field>

         <!-- Emp_no -->
         <mat-form-field class="full-width">
          <mat-label>Employee Number</mat-label>
          <input matInput placeholder="Employee Number" >
        </mat-form-field>

        <!-- Full Name -->
        <mat-form-field class="full-width">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Full Name" >
        </mat-form-field>

      <!-- First Name -->
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" >
      </mat-form-field>


      <!-- Last Name -->
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" >
      </mat-form-field>


              <!-- NIC -->
              <mat-form-field class="full-width">
                <mat-label>NIC</mat-label>
                <input matInput placeholder="NiC" >
              </mat-form-field>

                   <!-- Gender Dropdown -->
               <mat-form-field class="full-width">
                <mat-label>Role</mat-label>
                   <mat-select formControlName="gender">
                  <mat-option value="role1">A</mat-option>
                     <mat-option value="role2">B</mat-option>
               </mat-select>
              </mat-form-field>

      <!-- Age -->
      <mat-form-field class="full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age"  type="number">
   </mat-form-field>


     <!-- Gender Dropdown -->
     <mat-form-field class="full-width">
        <mat-label>Gender</mat-label>
     <mat-select formControlName="gender">
     <mat-option value="male">Male</mat-option>
     <mat-option value="female">Female</mat-option>
    </mat-select>
    </mat-form-field>

<!-- Address-->
<mat-form-field class="full-width">
  <mat-label>Address</mat-label>
  <input matInput placeholder="Address" >
</mat-form-field>


    <!-- Phone Number  -->
<mat-form-field class="full-width">
  <mat-label>Phone Number</mat-label>
  <input matInput placeholder="Phone Number" >
</mat-form-field>


      <!-- Email -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" >
      </mat-form-field>

        <!-- Pharmacist regno -->

            <!-- Emergency Contact Number  -->
<mat-form-field class="full-width">
  <mat-label>Phone Number</mat-label>
  <input matInput placeholder="Phone Number" >
</mat-form-field>





  </div>
</div>
